body{
    background: linear-gradient(to right, #00aa00FF, #00AAFF6C);
}


header{
    font-size:30px;
    color:white;
}
.counter{
    padding-top: 20px;
}

#textarea{
    width:400px;
    height: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    border:none;
}

#output{
    padding:20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
